# Analysis

In [1]:
#import modules
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
#Load the dataset
df = pd.read_csv("Data/producer-prices_sen.csv", index_col="Year", parse_dates=True)
print(f"Le nombre de variables: \n{df.columns} \n")
print(f"Le shape: {df.shape}")
df.head(10)

Le nombre de variables:
Index(['Iso3', 'StartDate', 'EndDate', 'Area Code', 'Area', 'Item Code',
       'Item', 'Element Code', 'Element', 'Year Code', 'Months Code', 'Months',
       'Unit', 'Value', 'Flag'],
      dtype='object')

Le shape: (3973, 15)

,Iso3,StartDate,EndDate,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Months Code,Months,Unit,Value,Flag
Year,,,,,,,,,,,,,,,
#date+year,#country+code,#date+start,#date+end,NaN,#country+name,#indicator+code,#indicator+name,NaN,NaN,NaN,NaN,NaN,#indicator+type,#indicator+value+num,NaN
2014,SEN,2014-01-01,2014-12-31,195.0,Senegal,486,Bananas,5530.0,Producer Price (LCU/tonne),2014.0,7021.0,Annual value,LCU,378000.000000,NaN
2017,SEN,2017-01-01,2017-12-31,195.0,Senegal,486,Bananas,5530.0,Producer Price (LCU/tonne),2017.0,7021.0,Annual value,LCU,462881.000000,NaN
2018,SEN,2018-01-01,2018-12-31,195.0,Senegal,486,Bananas,5530.0,Producer Price (LCU/tonne),2018.0,7021.0,Annual value,LCU,462881.000000,NaN
2019,SEN,2019-01-01,2019-12-31,195.0,Senegal,486,Bananas,5530.0,Producer Price (LCU/tonne),2019.0,7021.0,Annual value,LCU,462800.000000,NaN
2014,SEN,2014-01-01,2014-12-31,195.0,Senegal,486,Bananas,5531.0,Producer Price (SLC/tonne),2014.0,7021.0,Annual value,SLC,378000.000000,NaN
2017,SEN,2017-01-01,2017-12-31,195.0,Senegal,486,Bananas,5531.0,Producer Price (SLC/tonne),2017.0,7021.0,Annual value,SLC,462881.000000,NaN
2018,SEN,2018-01-01,2018-12-31,195.0,Senegal,486,Bananas,5531.0,Producer Price (SLC/tonne),2018.0,7021.0,Annual value,SLC,462881.000000,NaN
2019,SEN,2019-01-01,2019-12-31,195.0,Senegal,486,Bananas,5531.0,Producer Price (SLC/tonne),2019.0,7021.0,Annual value,SLC,462800.000000,NaN
2014,SEN,2014-01-01,2014-12-31,195.0,Senegal,486,Bananas,5532.0,Producer Price (USD/tonne),2014.0,7021.0,Annual value,USD,765.000000,NaN

In [3]:
#delete the first row
df = df.drop(df.index[0:1])
print(df.shape)
df.head(2)

(3972, 15)

,Iso3,StartDate,EndDate,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Months Code,Months,Unit,Value,Flag
Year,,,,,,,,,,,,,,,
2014,SEN,2014-01-01,2014-12-31,195.0,Senegal,486,Bananas,5530.0,Producer Price (LCU/tonne),2014.0,7021.0,Annual value,LCU,378000.000000,NaN
2017,SEN,2017-01-01,2017-12-31,195.0,Senegal,486,Bananas,5530.0,Producer Price (LCU/tonne),2017.0,7021.0,Annual value,LCU,462881.000000,NaN

In [4]:
#verification des values NAN
df.isnull().values.any()

True

In [5]:
#remplacer les values ayant des  NAN par "Aucun"
df = df.fillna("Aucun")
df.isnull().values.any()

False

In [6]:
#Verification de l'existance de doublant
print(df.index.is_unique)

False

In [7]:
#suppression des doublant du dataset
df = df.loc[~df.index.duplicated(), :]
df.shape

(29, 15)

In [10]:
#connaitre le nombre d'item existant
df['Item'].value_counts()

Cashew nuts, with shell    23
Bananas                     6
Name: Item, dtype: int64

In [11]:
#le nombre d'elements: 
df['Element'].value_counts()

Producer Price (LCU/tonne)                27
Producer Price Index (2014-2016 = 100)     2
Name: Element, dtype: int64